.md {
	&-lead {
		margin-bottom: 10px;
		position: relative;
		display: flex;
		background: #fff;
		&:hover {
			.md-lead__date  {
			border-left: 3px solid rgb(63,81,181);
			}
		}
		&--new {
			//background:rgb(63,81,181);
			border-left: 3px solid rgb(63,81,181);
			.md-lead__date {
				background:rgb(63,81,181);
				color: #fff; 
			}
/*			.md-lead__label {
				background: #fff;
			}
			.md-lead__body .md-lead__label {
				background: #C3C3C3;
			}
			.md-lead__title {
			    border-bottom: 1px solid #1E3098;
			}
			.md-lead__main {
			    border-left: 1px solid #1E3098;
			}
			.md-lead__check-btn {
				background:#00bcd4;
			}
			&:hover {
				border-left: 3px solid rgb(255,64,129);
			}*/
		}
		&__check-btn {
			background:#00bcd4;
			color: #fff;
			&:hover {
				background: rgb(255,64,129);
			}
		}
		&__date {
			background:#eee;
			border-left: 3px solid transparent;
			border-right: 3px solid transparent;
			width: 70px;
			padding: 5px;
			text-align: center;
			float: left;
			display: flex;
			flex-direction: column;
		    justify-content: center;
		}
		&__main {
			position: relative;
			border-left: 1px solid #eee;
			padding: 10px;
			flex-grow: 1;
		}
		&__title {
			padding-bottom: 10px;
			border-bottom: 1px solid #eee;
			font-size: 16px;
			.material-icons {
			    vertical-align: middle;
			}
			&__btns {
				position: absolute;
				right: 7px;
				top: 7px;
			}
		}
		&__body {
			padding: 10px 0 0;
			.md-lead__label {
				font-size: 12px;
				height: 30px;
				line-height: 30px;
				background: transparent;
			}
		}
		&__label {
		    background-color: rgba(158,158,158,.2);
		    border: none;
		    border-radius: 2px;
		    color: #000;
		    position: relative;
		    height: 36px;
		    margin: 0;
		    min-width: 64px;
		    padding: 0 16px;
		    display: inline-block;
		    font-size: 14px;
		    font-weight: 500;
		    text-transform: uppercase;
		    letter-spacing: 0;
		    overflow: hidden;
		    outline: none;
		    text-decoration: none;
		    text-align: center;
		    line-height: 36px;
		    vertical-align: middle;
		}

	}
}
