.calendar {
	padding: 20px;
	background: #fff;
	&__legend {
		display: inline-block;
		width: 20px;
		height: 20px;
		background: $indigo;
		border-radius: 50%;
		margin-right: 20px;
	}
	&__legend-list {
		margin: 0 0 20px;
	}
	&__header {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 26px;
		i {
			cursor: pointer;
		}
		&__title {
			color: $indigo;
			padding: 0 20px;
		}
	}
	&__labels {
		display: flex;
		&__item {
			width: calc(100% / 7);
			box-sizing: border-box;
			text-transform: uppercase;
			background: $gray;
			text-align: center;
			line-height: 40px;
		}
	}
	&__week {
		& + & {
			border-top: 1px solid $gray;
		}
	}
	&__days-wrap {
		display: flex;
    flex-wrap: wrap;
	}
	&__day {
		width: calc(100% / 7);
    min-height: 10vh;
		box-sizing: border-box;
		position: relative;
		cursor:pointer;
		display: flex;
		&:hover {
			background: $lightGray;
		}
		&:not(:last-child) {
			border-right: 1px solid $gray;
		}
		&__date {
			font-size: 16px;
      color: $black;
			&.current {
        color: $black;
			}
		}
		&__job {
			background: $indigo;
			display: block;
			color: #fff;
			padding: 4px;
			font-size: 12px;
			line-height: 14px;
			& + & {
				margin-top: 2px;
			}
		}
		.small {
			background: $green;
		}
		.medium {
			background: $orange;
		}
		.large {
			background: $red;
		}
		&__no-job {
			font-size: 20px;
		}
		&__date-label {
			color: $black;
			font-size: 16px;
			margin-bottom: 10px;
		}
	}

	&__day-inner {
		width: 100%;
		padding: 2px;
		box-sizing: border-box;
		position: relative;
		&.active {
			background: $gray;
      color: $black;
      .calendar__day__date {
        color: $black;
      }

			&:after {
			content: '';
			position: absolute;
			bottom: -20px;
			left: 50%;
			margin-left: -15px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 20px 15px 0 15px;
			border-color: $gray transparent transparent transparent;
			z-index: 1;
			}
		}
	}

	&__day-full-info {
		padding: 0 20px;
		//background: $cyan;
    background: $lightGray;
		width: calc(100% + 40px);
		margin-left: -20px;
		box-sizing: border-box;
    box-shadow: inset 0 15px 6px -13px rgba(0,0,0,.15);
    position: relative;
    transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
    &__close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    &.open {
      padding: 20px;
    }
    &__job-wrapper {
      display: flex;
      padding-bottom: 5px;
    }
    &__time {
      color: $black;
      font-size: 20px;
      min-width: 60px;
      display: flex;
      align-items: center;
    }
    &__job-wrap {
      display: flex;
      position: absolute;
    }

		&__job {
			background: #fff;
      box-shadow: 0 2px 3px 2px rgba(0,0,0,.1);
			padding: 5px;
			position: relative;
			z-index: 1;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      &__item {
        //width: calc(100% / 3);
        display: flex;
        margin: 2px;
        .material-icons {
          color: $gray;
          font-size: 18px;
          margin-right: 5px;
        }
      }
      &.small {
        border-left: 6px solid $green
      }
      &.medium {
        border-left: 6px solid $orange
      }
      &.large {
        border-left: 6px solid $red
      }
      & + & {
        margin-left: 10px;
      }
		}
	}

  &__time-grid-wrapper {
    position: relative;
  }
  &__time-grid-jobs-wrapper {
    position: absolute;
    left: 51px;
    top: 0;
    width: calc(100% - 51px);
    height: 100%;
    display: block;
  }
  &__time-grid {
    &__row {
      display: flex;
      & + & {
        border-top: 1px solid rgba(140, 140, 140, 0.87);
      }
    }
    &__hour {
      width: 50px;
      height: 31px;
      flex-shrink: 0;
      border-right: 1px solid rgba(140, 140, 140, 0.87);
    }
    &__time-line {
      flex-grow: 1;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        margin-top: -1px;
        top: 50%;
        left: 0;
        background: $gray;
      }
    }
  }

}
