.md {
	&-lead {
		margin-bottom: 10px;
		position: relative;
		background: #efefef;
    .md-lead__label {
      color: #333333;
      text-transform: none;
    }
    &__main-wrap {
      border-left: 3px solid transparent;
      transition: border-color .3s ease;
      &:hover {
        border-left: 3px solid rgb(63,81,181);
      }
    }
    &__map {
      height: 300px;
      width: 100%;
    }
    &__body {
      .md-lead__label {
        background: transparent;
      }
    }
    &__show-more {
      width: 100%;
      position: relative;
      top: 5px;
      height: 30px;
      line-height: 30px;
      &.up {
        .up {
          display: block;
        }
        .down {
          display: none;
        }
      }
      .down {
        display: block;
      }
      .up {
        display: none;
      }
      .material-icons {
        font-size: 30px;
        line-height: 20px;
      }
    }
		&--new {
      background: #fff;
      .md-lead__label {
        font-weight: bold;
      }
      .md-lead__main-wrap {
        border-left: 3px solid rgb(255,64,129);
      }

		}
		&__check-btn {
			background: #00bcd4;
			color: #fff;
			&:hover {
				background: rgb(255,64,129);
			}
		}
		&__date {
      transition: all .5s ease;
			background: #eee;
			border-left: 3px solid transparent;
			border-right: 3px solid transparent;
			width: 150px;
			padding: 10px;
      .material-icons {
      }
      &__time {
        margin-left: 5px;
      }
		}
		&__main {
			position: relative;
			padding: 10px;
      margin-right: 140px;
    }
    &__btns {
      float: right;
      width: 140px;
      padding: 12px;
      text-align: right;
    }
		&__title {
			font-size: 16px;
			.material-icons {
			    vertical-align: middle;
			}
		}
    &__send-msg {
      padding: 10px;
      height: auto;
      opacity: 1;
      &--collapsed {
        height: 0;
        padding: 0;
        opacity: 0;
        overflow: hidden;
      }
      .mdl-textfield__input {
        width: 100%;
        margin-bottom: 10px;
      }
      .mdl-textfield--align-right {
        margin-top: 10px;
      }
    }
		&__map-wrapper {
      height: auto;
      opacity: 1;
			.md-lead__label {
				background: transparent;
			}
      &--collapsed {
        height: 0;
        padding: 0;
        opacity: 0;
        overflow: hidden;
      }
		}

		&__label {
		    background-color: rgba(158,158,158,.2);
		    border: none;
		    border-radius: 2px;
		    color: #000;
		    position: relative;
		    height: 36px;
		    margin: 0;
		    min-width: 64px;
		    padding: 0 16px;
		    display: inline-block;
		    font-size: 14px;
		    font-weight: 500;
		    text-transform: uppercase;
		    letter-spacing: 0;
		    overflow: hidden;
		    outline: none;
		    text-decoration: none;
		    text-align: center;
		    line-height: 36px;
		    vertical-align: middle;
		}

	}
}
