.sidebar {
  width: 235px;
  box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);
  margin-right: 20px;
  background: #fff;
  padding-bottom: 20px;
  flex-shrink: 0;
}
.sidebar-nav {
  margin-top: 10px;
  &__link {
    display: inline-block;
    line-height: 40px;
    color: #678098;
    padding: 0 20px;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    .material-icons {
      vertical-align: middle;
    }
    &.active {
      border-left: 3px solid #5C9ACF;
      margin-left: -3px;
      width: calc(100% + 3px);
      background: #f2f6f9;
    }
    &:hover {
      background: #f2f6f9;
      color: #5b9bd1;
    }
  }

}
