.full-width {
    width: 100%;
}
.body {
  color: #464646;
}
.text-right {
	text-align: right;
}
.green {
	background: $green;
}
.orange {
	background: $orange;
}
.red {
	background: $red;
}
.green-text {
	color: $green;
}
.orange-text {
	color: $orange;
}
.red-text {
	color: $red;
}
.page-header {
  margin-top: 0;
  font-size: 17px;
}
.small-space {
  margin-top: 20px;
}

.card-shadow {
  @include boxShadow();
}
