<div class="modal" [ngClass]="{open: isOpen, close: isClosed}">
  <div class="modal__overlay" (click)="closeModal()"></div>
  <div class="modal__content">
    <div class="modal__header">
      <span>Add new job</span>
      <div class="modal__close">
        <button class="mdl-button mdl-js-button mdl-button--icon" (click)="closeModal()">
          <i class="material-icons">close</i>
        </button>
      </div>
    </div>

    <div class="modal__body">

      <form action="#" (ngSubmit)="onSubmit()" #jobForm="ngForm">

        <div class="mdl-grid" style="padding-top: 0">

          <div class="form-field mdl-cell mdl-cell--4-col">
            <datepicker [(ngModel)]="model.movingDate" model-format="DD.MM.YYYY" view-format="DD.MM.YYYY"></datepicker>
          </div>
          <div class="form-field mdl-cell mdl-cell--4-col">
            <input class="form-field__input"
                   type="text"
                   id="movingSize"
                   ngControl="name" #name="ngForm"
                   [(ngModel)]="model.movingSize"
                   name="movingSize"
                   [ngClass]="{hasText: model.movingSize}"
                   required
            >
            <label class="form-field__label" for="movingSize">Moving size</label>
            <span class="form-field__border"></span>
            <div class="form-field__error" [hidden]="name.valid || name.pristine">
              movingSize is required
            </div>
          </div>

          <div class="form-field mdl-cell mdl-cell--4-col flex-wrapper">
            <div class="radio-button">
              <input type="radio"
                     id="option-1"
                     class="radio-button__input"
                     name="movingSizeType"
                     value="Small"
                     #s
                     [checked]="model.movingSizeType == s.value" (click)="model.movingSizeType = s.value"
               >
              <label class="mdl-button radio-button__green" for="option-1">Small</label>
            </div>

            <div class="radio-button">
              <input type="radio"
                     id="option-2"
                     class="radio-button__input"
                     name="movingSizeType"
                     value="Medium"
                     #m
                     [checked]="model.movingSizeType == m.value" (click)="model.movingSizeType = m.value"
              >
              <label class="mdl-button radio-button__orange" for="option-2">Medium</label>
            </div>

            <div class="radio-button">
              <input type="radio"
                     id="option-3"
                     class="radio-button__input"
                     name="movingSizeType"
                     value="Large"
                     #l
                     [checked]="model.movingSizeType == l.value" (click)="model.movingSizeType = l.value"
              >
              <label class="mdl-button radio-button__red" for="option-3">Large</label>
            </div>

          </div>

          <div class="form-field mdl-cell mdl-cell--4-col">
            <input class="form-field__input"
                   type="text"
                   id="moveFrom"
                   name="moveFrom"
                   placeholder=""
                   [(ngModel)] = "model.moveFrom"
                   [ngClass]="{hasText: model.moveFrom}"
                   (setAddress) = "getAddress($event, 'moveFrom')"
                   googleplace


            >
            <label class="form-field__label" for="moveFrom">Move From</label>
            <span class="form-field__border"></span>
          </div>

          <div class="form-field mdl-cell mdl-cell--4-col">
            <input class="form-field__input"
                   type="text"
                   id="moveTo"
                   name="moveTo"
                   placeholder=""
                   [(ngModel)]="model.moveTo"
                   [ngClass]="{hasText: model.moveTo}"
                   (setAddress) = "getAddress($event, 'moveTo')"
                   googleplace
            >
            <label class="form-field__label" for="moveTo">Move To</label>
            <span class="form-field__border"></span>
          </div>

          <div class="form-field mdl-cell mdl-cell--4-col">
            {{model.distance}}
            <label class="form-field__label" for="moveTo">Distance</label>
            <span class="form-field__border"></span>
          </div>

          <div class="form-field mdl-cell mdl-cell--4-col">
            <input class="form-field__input"
                   type="text"
                   id="Phone"
                   [(ngModel)]="model.phone"
                   name="phone"
                   [ngClass]="{hasText: model.phone}"
            >
            <label class="form-field__label" for="Phone">Phone</label>
            <span class="form-field__border"></span>
          </div>
          <div class="form-field mdl-cell mdl-cell--4-col">
            <input class="form-field__input"
                   type="text"
                   id="name"
                   [(ngModel)]="model.name"
                   name="name"
                   [ngClass]="{hasText: model.name}"
            >
            <label class="form-field__label" for="name">Name</label>
            <span class="form-field__border"></span>
          </div>
          <div class="form-field mdl-cell mdl-cell--4-col">
            <input class="form-field__input"
                   type="text"
                   id="mail"
                   [(ngModel)]="model.mail"
                   name="mail"
                   [ngClass]="{hasText: model.mail}"
            >
            <label class="form-field__label" for="mail">E-mail</label>
            <span class="form-field__border"></span>
          </div>

        </div>

        <div class="small-space"></div>
        <button type="button" class="mdl-button" (click)="closeModal()">Close</button>
        <button class="mdl-button mdl-button--raised" [disabled]="!jobForm.form.valid">Create job</button>

      </form>

    </div>

  </div>
</div>
